@import url("~@patternfly/patternfly/base/patternfly-variables.css");

.pf-c-toolbar {
  &.detailsHeaderToolbarOverride {
    --pf-c-toolbar--ZIndex: auto; z-index: 302;

    .pf-c-toolbar__content {
      padding: 0;
    }
    padding: 0;
  }
}


